/*Header of Page*/
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    padding: 10px;
    overflow: hidden;
    background-color: #FFCB05;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

a {
    color: #00274C;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    text-decoration-color: #ffffff;
}

header {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    padding: 16px;
    background-color: #00274C;
    color: white;
    position: relative;
    align-items: center;
}

header img {
    width: 50px;
}

header h1 {
    color: #FFCB05;
    font-size: 20px;
    margin: 0;
    font-optical-sizing: auto;
    font-weight: 800;
    justify-items: start;
}

.toggleBtn {
    font-size: 35px;
    cursor: pointer;
    color: #FFCB05;
    justify-items: end;
}

.toggleBtn:hover {
    color: #ffffff;
}

#toggle {
    display: none;
}

#toggle:checked ~ .navbar {
    display: grid;
}

.navbar {
    display: none;
    position: absolute;
    top: 62px;
    right: 16px;
    background-color: #FFCB05;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    grid-template-rows: repeat(4, auto);
    gap: 8px;
}

.navbar li {
    margin: 8px 0;
    text-decoration: underline;
    text-decoration-color: #00274C;
}

.navbar a {
    color: #00274C;
    text-decoration: underline;
    text-decoration-color: #00274C;
}

.navbar a:hover {
    color: #ffffff;
    text-decoration-color: #ffffff;
}

.navbar a.active {
    font-weight: bold;
    background-color: #00274C;
    color: #FFCB05;
    text-decoration: underline;
    padding: 4px 8px;
    border-radius: 4px;
}

.navbar a.active:hover {
    background-color: #ffffff;
    color: #FFCB05;
    border-color: #FFCB05;
}

/* Body of Home Page */

main {
    padding: 16px;
}

.success {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    gap: 16px;
    align-items: center;
    gap: 16px;
    background-image: radial-gradient(circle, #ddd 1px, transparent 1px);
    background-size: 20px 20px;
    border-radius: 12px;
    padding: 16px;
}

.success h1 {
    color: #00274C;
    font-size: 20px;
    margin: 0;
    font-optical-sizing: auto;
    font-weight: 800;
    text-align: center;
    background-color: #FFCB05;
    padding: 2px;
    border-radius: 12px;
    grid-row: 1;
    grid-column: 1 / -1;
}

main .success p {
    padding-top: 3px;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    grid-row: 2;
    grid-column: 1 / -1;
}

main .success img {
    width: 300px;
    grid-row: 3;
    border-radius: 12px;
    grid-column: 1
}

main .success ol{
    grid-column: 2;
    grid-row: 3;
}

.success ol {
    list-style-type: none;
    padding: 0;
}

.success ol li {
    margin: 8px 0;
}

.success ol li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00274C;
    color: #FFCB05;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 130px;
}

.success ol li a:hover {
    background-color: #FFCB05;
    color: #00274C;
}

hr {
    border: none;
    border-top: 2px solid #00274C;
    margin: 20px 0;
    width: 100%;
}

section h2 {
    color: #FFCB05;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
    background-color: #00274C;
    border-width: 10px;
    border-radius: 12px;
    padding: 5px;
    padding-left: 10px;
}

section p {
    padding-top: 10px;
    color: #00274C;
    font-size: 14px;
    padding-bottom: 15px;
}

section img {
    border: #FFCB05;
    border-width: 10px;
    border-radius: 12px;
    width: 400px;
}

article figcaption{
    font-size: 12px;
    font-weight: bold;
    color: #454545;
    padding-bottom: 5px;
    text-align: center;
}

.mental-health {
    display: grid;
    place-items: center;
    width: 100%;
    background-image: radial-gradient(circle, #ddd 1px, transparent 1px);
    background-size: 20px 20px;
    border-radius: 12px;
    padding: 16px;
}

.mental-health h2 {
    color: #00274C;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
    background-color: #FFCB05;
    border-width: 10px;
    border-radius: 12px;
    padding: 5px;
    padding-left: 10px;
    text-align: center;
}

.mental-health p {
    padding-top: 10px;
    color: #000000;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.mental-health h3 {
    color: #FFCB05;
    background-color: #00274C;
    font-weight: bold;
    border-radius: 12px;
    font-size: 15px;
    text-align: center;
    padding: 4px 8px;
    display: inline-block;
}

.box {
    background-color: #eeeeee;
    padding: 16px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000000(0, 0, 0, 0.1);
}

.box h4 {
    color: #071f36;
    font-weight: bold;
    margin-bottom: 10px;
}

.box a {
    color: #2c54e3;
    text-decoration: underline;
}

.box a:hover {
    background-color: #FFCB05;
    color: #00274C;
}

.box ul {
    padding-left: 20px;
}

.box ul li {
    margin-bottom: 8px;
}

.contact-info {
    font-weight: bold;
    background-color: #ffe57d;
    border-radius: 12px;
    padding-left: 10px;
}

/* Footer */
footer {
    background-color: #00274C;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

footer a {
    color: #FFCB05;
    text-decoration: underline;
}

footer a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* Study Spaces */
.study h1 {
    color: #00274C;
    font-size: 18px;
    margin: 0;
    font-optical-sizing: auto;
    font-weight: 800;
    text-align: center;
    background-color: #FFCB05;
    border-radius: 12px;
    padding: 16px;
}
.study p {
    font-size: 16px;
}

.study-img1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-items: center;
    padding-top: 10px;
}

.study-img1 img{
    width: 20px;
    border-radius: 8px;
}

.study-head1 p {
    font-weight: bold;
    font-size: 16px;
}

.study-head2 p {
    color: #00274C;
}

.study-head2 p {
    color: #FFCB05;
    background-color: #00274C;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}

.study-heading h2{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #FFCB05;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.study-head3 p{
    font-weight: bold;
}

.study ul{
    list-style-type: disc;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #eeeeee;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000000(0, 0, 0, 0.1);
}

.study li {
    margin-bottom: 8px;
}

.study-head4 h2{
    font-size: 20px;
    font-weight: bold;
    color: #FFCB05;
    background-color: #00274C;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.study-head4 h3{
    padding-top: 10px;
    font-weight: bold;
    text-align: center;
}

.study-head4 h3 a{
    color: #2c54e3;
    text-decoration: underline;
}

.study-head4 h3 a:hover {
    background-color: #FFCB05;
    color: #00274C;
}

.study-head4 img {
    border: 4px solid #FFCB05;
}

.study-head4 figcaption {
    color: #454545;
}

.dashed-line {
    border: none;
    border-top: 2px dashed #d4d4d4;
    margin: 20px auto;
    width: 70%;
}

/*First Gen*/

.gen-head1 h1 {
    color: #00274C;
    font-size: 20px;
    margin: 0;
    font-optical-sizing: auto;
    font-weight: 800;
    text-align: center;
    border: 4px solid #FFCB05;
    border-radius: 12px;
    padding: 16px;
}
.gen p {
    font-size: 16px;
    font-weight: bold;
}

.gen-head2 p{
    background-color: #00274C;
    color: #FFCB05;
    font-weight: bold;
    border-radius: 12px;
    padding: 10px;
}

.gen figcaption{
    font-size: 12px;
    font-weight: bold;
    color: #454545;
    padding-bottom: 5px;
    text-align: center;
}

.gen img{
    padding-top: 20px;
    border-radius: 15px;
}

.gen2 h3{
    font-weight: bold;
    padding-top: 15px;
}

.gen2 p{
    font-size: 15px;
}

.gen-head3 p{
    font-weight: bold;
}

.gen2 ul{
    list-style-type: disc;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #eeeeee;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000000(0, 0, 0, 0.1);
}

.gen2 li {
    margin-bottom: 8px;
}

.gen3 h2{
    background-color: #00274C;
    color: #FFCB05;
    font-weight: bold;
    border-radius: 12px;
    padding: 10px;
}

.gen3 h3{
    padding-top: 10px;
    font-weight: bold;
}

.gen3 ul{
    list-style-type: disc;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.gen-list {
    border: 2px solid #FFCB05;
    border-radius: 8px;
    padding: 10px;
}

.gen3 h4{
    font-weight: bold;
    padding-top: 10px;
}

.gen3 p{
    color: #2c54e3;
}

.gen3 a{
    font-weight: bold;
    color: #2c54e3;
    text-decoration: underline;
}

.gen3 a:hover {
    color: #FFCB05;
    text-decoration-color: #FFCB05;
}

/*Pantry*/

.pantry1 h1 {
    color: #00274C;
    font-size: 20px;
    margin: 0;
    font-optical-sizing: auto;
    font-weight: 800;
    text-align: center;
    border: 4px solid #FFCB05;
    border-radius: 12px;
    padding: 16px;
}

.pantry1 p {
    font-size: 16px;
}

.pantry2 h2{
    border: 4px solid #FFCB05;
    border-radius: 12px;
    padding: 16px;
}

.pantry2 h3{
    font-weight: bold;
    padding-top: 5px;
}
.pantry2 li{
    list-style-type: disc;
    list-style-position: inside;
    padding: 10px 20px;
    padding-bottom: 5px;
    background-color: #eeeeee;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pantry2-2 h2{
    font-weight: bold;
    border: 4px solid #FFCB05;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
}

.pantry2-2 p{
    border: 1px dashed #00274C;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
}

.pantry3 h2{
    font-weight: bold;
    border: 4px solid #FFCB05;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 10px;
}

.pantry3 p{
    border: 1px dashed #00274C;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
}

.pantry3 ul{
    padding: 10px 20px;
    padding-bottom: 5px;
    background-color: #FFCB05;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    margin-bottom: 20px;
}

.pantry3 a{
    font-weight: bold;
    color: #2c54e3;
    text-decoration: underline;
}

.pantry3 a:hover {
    color: #FFCB05;
    text-decoration-color: #FFCB05;
}

.pantry3 figcaption{
    font-size: 12px;
    font-weight: bold;
    color: #454545;
    padding-bottom: 5px;
    text-align: center;
}

.schedule {
    font-weight: bold;
}